@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
}
.container {
  margin: 0 auto;
  max-width: 1440px;
}
.prymari-btn {
  padding: 10px 20px;
  background-color: #ff900e;
  border: none;
  border-radius: 6px;
  width: 180px;
  height: 50px;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
}

/* Header Section Styles Starts From Here */
header {
  background-color: #fff;
  padding-bottom: 5%;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}
header nav h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  text-align: center;
  color: #131313;
}
header nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 30px;
}
header nav ul li {
  display: inline-flex;
}
header nav ul li a {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #424242;
  text-decoration: none;
  text-transform: capitalize;
  padding: 5px 10px;
  transition: transform 0.33s ease;
}
header nav ul li a:hover {
  background-color: #131313;
  border-radius: 6px;
  color: white;
}
/* Header Section Ends Here */
/* Main Section Starts From Here */
.hero-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.hero-wrapper h1 {
  width: 862px;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  /* line-height: 75px; */
  text-align: center;
  color: #131313;
}
.hero-wrapper p {
  width: 868px;
  height: 52px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #727272;
  border-radius: 8px;
}
.hero-wrapper button {
  padding: 10px;
}
.hero-wrapper img {
  width: 1440px;
  height: 700px;
  border-radius: 8px;
}
/* Hero Section Style Ends Here */
/* Feature Section Style Starts from Here */
.feature-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 50px 0 50px 0;
}
.feature-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.feature-images img {
  width: 342px;
  height: 342px;
}
.feature-text {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 537px;
  height: 304px;
  gap: 20px;
}
.feature-text h2 {
  width: 468px;
  height: 106px;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 53px;
  color: #727272;
}
.bold {
  font-weight: 700;
  color: black;
}
.color {
  color: #ff900e;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
}

.feature-text p {
  width: 537px;
  height: 78px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}
.feature-text button {
  margin-top: 2rem;
}
/* Features Section Ends Here */
/* Experience Section Starts from here */
.exp-warpper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: left;
  padding-top: 50px;

  background-image: url("../images/architect.png");
  background-position: right;
  background-repeat: no-repeat;
}
.caption h2 {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #131313;
  padding-bottom: 10px;
}
.caption p {
  width: 586px;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 26px;
  color: #727272;
}
.body-text {
  width: 520px;
  position: relative;
  left: 50px;
}
.body-text h4 {
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #131313;
}
.body-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  padding-bottom: 50px;
}
.exp-button {
  position: relative;
  bottom: 520px;
  left: 580px;
  padding: 20px;
  background-color: #ff900e;
  color: #fff;
  border: none;
  border-radius: 4px;
}
.ten-tex {
  font-size: 2rem;
  color: #ffffff;
  font-weight: 700;
}
.exp-text {
  font-size: 1rem;
}
/* Experience Section Ends Here */
/* Some Facts Section Starts from Here */
.facts-warpper {
  display: flex;
  flex-direction: column;
  padding: 50px;
}
.facts h4 {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  padding-bottom: 20px;
}
.facts p {
  width: 540px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  padding-bottom: 2rem;
}
.fact-boxes {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.fact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 169px;
  height: 136px;
}
.fact-box-warpper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #ff900e;
  border-radius: 4px;
  width: 240px;
  height: 240px;
}
.fact-box-warpper:hover {
  transform: rotate(180deg);
}
.fact-box img {
  width: 50px;
  height: 50px;
}
.fact-box h3 {
  font-weight: 600;
  font-size: 45px;
}
.fact-box p {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #727272;
}
/* SOme Facts section ends here */
/* Sponsor Section Starts from here */
.sponsor-wrapper {
  padding: 100px 0 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  text-align: center;
}
.sponsor-heading {
  width: 540px;
  height: 142px;
}
.sponsor-heading h2 {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #131313;
}
.sponsor-heading p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #727272;
  padding-top: 24px;
}
.sponsor-logs {
  display: flex;
  gap: 80px;
  justify-content: space-between;
  align-items: center;
}
.sponsor-logs img {
  align-items: center;
}
/* Sponsor Secton Ends Here */
/* Main Section Ends Here */
/* Subscription Section Starts from here */
.subscription-warpper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}
.subscription-warpper h2 {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #131313;
}
.subscription-warpper p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #727272;
  padding-bottom: 32px;
}
.subscribe-box form {
  display: flex;
  gap: 10px;
}
.email {
  width: 350px;
  padding: 10px;
  border: 1px solid #ff900e;
  border-radius: 4px;
}

.send {
  background-color: #ff900e;
  padding: 10px 30px;
  border: none;
  border-radius: 4px;
}
/* Subscription Section Ends Here */
/* Footer Section Starts from here */
footer {
  display: flex;
  justify-content: center;
  background-color: #fff4e7;
  width: 1440;
  height: 100;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #424242;
}
footer p {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #424242;
  padding: 20px;
}
.blank {
  padding-bottom: 100px;
}
/* Footer Styles Gose here */

/* Media Querries */
@media screen and (max-width: 576px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 992px) {
}
